@font-face{
    font-family: "Moon";
    src: url("MoonFont/MoonLight.otf");
}

@font-face{
	font-family: "Moon Bold";
	src: url("MoonFont/Moon Bold.otf");
}

body{
    font-family: "Moon";
    font-size: 18px;
    /*background: #E9FFFF;*/
	color: #E9FFFF;
	background: #000000;
    padding-bottom: 150px;
	overflow-y: overlay;
}

#home-pic{
    border-radius: 150px;
}

.jumbotron{
	background: none;
}

.exp{
	margin-left:5px;
	margin-right:5px;
	margin-bottom:15px;
	border:1px solid #E9FFFF;
	border-radius:10px;
	padding-bottom: 5px;
}

.exp-title{
	font-weight: bold;
	margin-bottom:0;
}

.column{
	padding-bottom: 100%;
    margin-bottom: -100%;
}

.lCol{
	padding-top:1.5%;
	padding-bottom:1.5%;
}

.expo-topic{
	margin-top: 2vh;
	margin-bottom: 2vh;
}

.expo-link{
	text-decoration: none;
	color: inherit;
}

.expo-link:hover{
	color: inherit;
	opacity: 0.75;
}




