body{
    font-family: "Mulish", sans-serif;
    font-size: 16px;
	color: #22313f;
	background: #CCDBEE;
	overflow-y: overlay;
	overflow-x: hidden;
}

#home-pic{
    border-radius: 150px;
	border: 2px solid #234767;
}

.jumbotron{
	background: none;
}

/* Navbar */
.nav-btn {
	display: inline-block;
	border-bottom: 3px solid #22313f;
	margin: 15px;	
}

#home, #experience, #project{
	cursor: pointer; 
}

.sticky{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #22313f;
	z-index: 999;
}

/* Experience and Project Sections */
.exp, .prj{
	padding: 15px;
	border-radius:10px;
	background-color: #FFFFFF;
	color: #000000;
	transition: box-shadow 0.15s ease-in-out;
}

.exp:hover, .prj:hover, .card:hover {
	box-shadow: 0 0 20px #EEE;
}

.exp-header {
	color: white;
}

.exp-title{
	font-weight: bold;
	text-align: center;
	color: #22313f;
	margin-top: 10px;
	text-decoration: underline;
}

#experience-section {
	background: #234767;
	border-radius: 5px;
}

.animated {
	animation-duration: 1.5s;
	animation-name: fadeInDown;
}

@keyframes fadeInDown{
	0% {
	   opacity: 0;
	   transform: translateY(-60px);
	}
	100% {
	   opacity: 1;
	   transform: translateY(0);
	}
}

.card {
	transition: box-shadow 0.15s ease-in-out;
}

/* Footer */
.footer {
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
	background: #234767;
	border-radius: 5px;
	color: #FFFFFF;
}

.footer p {
	margin: 0;
	
}



/* Expo CSS */
.expo-topic{
	margin-top: 2vh;
	margin-bottom: 2vh;
}

.expo-link{
	text-decoration: none;
	color: inherit;
}

.expo-link:hover{
	color: inherit;
	opacity: 0.75;
}

.xchange_pic{
	border: 2px solid #000000;
	box-shadow: 0 0 45px black;
}











