body{
    background-color: #740000;
}

#title{
    height: 500px;
    vertical-align: middle;
    line-height: 500px;
    text-align: center;
}

.title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 76px;
    color: white;
}

#mission{
    height: 500px;
    vertical-align: middle;
    line-height: 500px;
    text-align: center;
}

.mission{
    font-family: 'Times New Roman', Times, serif;
    font-size: 56px;
    color: white;
}

#founders{
    height: 500px;
    vertical-align: middle;
    line-height: 500px;
    text-align: center;
}

.founders-header{
    font-family: 'Times New Roman', Times, serif;
    font-size: 56px;
    color: white;
}

#apply{
    height: 300px;
    vertical-align: middle;
    line-height: 300px;
    text-align: center;
}

.apply-button a{
    border: 2px white solid;
    border-radius: 5px;
    padding: 15px;
    text-decoration: none;
    color: white;
}